#top-bar {
    text-transform: uppercase;
    background-color: #09b2cb;
}

h1 {
    font-size: 2.8vw;
}

.navigation-button {
    height: 100%;
    font-size: 2vw;
}

#quote {
    /*text-align: center;*/
    /*background-color: #c1c1c1;*/  
}

blockquote {
    border: none;
}