body {
    color: #09b2cb;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #09b2cb;
    border-color: #09b2cb;
    color: white;  
    min-height: 5vw;  
}

.navbar-big-device {
    height: 5vw;    
}

.navbar-small-device {
    height: 8vw;
}

.h1-big-device {
    text-transform: uppercase;
    margin: 0px;
    font-size: 4vw;
    padding-top: .2vw;  
}

.h1-small-device {
    text-transform: uppercase;
    margin: 0px;
    font-size: 6.4vw;
    padding-top: .32vw;
}

.navbar-buttons {
    font-size: 2.5vw;
    background-color: #09b2cb;
    border: none;
    border-left: solid;        
    margin-top: 0.7vw;
    padding: 0px;
    /*padding-left: .2vw;*/
    text-align: center;
}

a:link, a:visited {
    color: white;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h4 {
    display: inline;    
}

.blue-backround {
    background-color: #09b2cb;
    color: white;    
}

.hr-white-background {
    border-top-color: #09b2cb;
}

.hr-blue-backround {
    border-top-color: white;
}