body {
    color: #09b2cb;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #09b2cb;
    border-color: #09b2cb;
    color: white;  
    min-height: 5vw;  
}

.navbar-big-device {
    height: 5vw;    
}

.navbar-small-device {
    height: 8vw;
}

.h1-big-device {
    text-transform: uppercase;
    margin: 0px;
    font-size: 4vw;
    padding-top: .2vw;  
}

.h1-small-device {
    text-transform: uppercase;
    margin: 0px;
    font-size: 6.4vw;
    padding-top: .32vw;
}

.navbar-buttons {
    font-size: 2.5vw;
    background-color: #09b2cb;
    border: none;
    border-left: solid;        
    margin-top: 0.7vw;
    padding: 0px;    
    text-align: center;
}

.navbar-links:link {
    color:white;
}

.navbar-links:visited {
    color: white;
}

.anchor {
    display: block;
    height: 5vw;
    visibility: hidden;
}

h2 {
    text-transform: uppercase;
    text-align: center;    
}

.h2-big-device {
    font-size: 60px;
}

.h2-small-device {
    font-size: 8vw;
}

.p-big-device {
    font-size: 20px;
}

.p-small-device {
    font-size: 2.66vw;
}

.blue-backround {
    background-color: #09b2cb;
    color: white;    
}

.hr-white-background {
    border-top-color: #09b2cb;
}

.hr-blue-backround {
    border-top-color: white;
}

.showcase {
    padding-bottom: 15px;
}

.placeholder-image {
    height: 150;
    width: auto;    
}

.social-links:link {
    color: #09b2cb;
}

.social-links:visited {
    color: #09b2cb;
}

.fa-twitter {
    color: #09b2cb;
    font-size: 7vw;
}
.fa-github {
    color: #09b2cb;
    font-size: 7vw;
}

.fa-free-code-camp {
    color: #09b2cb;
    font-size: 7vw;
}