body {
    color: #09b2cb;
}

#upper-part {
    color: white;
}

blockquote {
    border: none;
    color: white;
    top: 30%;
    left: 60%;
    position: absolute;
    font-size: 2.8vw;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h4 {
    display: inline;    
}

.hr-white-background {
    border-top-color: #09b2cb;
}

.hr-blue-backround {
    border-top-color: white;
}

#portfolio {
    background-color: #09b2cb;
    color: white;    
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #09b2cb;
}
