body {
    color: #09b2cb;
}

#upper-part {
    color: white;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h4 {
    display: inline;    
}

.hr-white-background {
    border-top-color: #09b2cb;
}

.hr-blue-backround {
    border-top-color: white;
}

#portfolio {
    background-color: #09b2cb;
    color: white;    
}

.navbar {
    background-color: #09b2cb;
    border-color: #09b2cb;
    color: white;
    max-height: 50px;
}

h1 {
    text-transform: uppercase;
    margin-top: 7px;
    margin-bottom: 7px;
}

.navbar-buttons {
    font-size: 2vw;
    background-color: #09b2cb;
    border: none;
    border-left: solid;
    /*margin-top: 10%;*/
}
